<!DOCTYPE html>
<html ng-app="demo">
<head>
	<title>Validation example</title>
	<style>
		body {
			font-size: 1em;
			font-family: sans-serif;
		}

		label {
			display: block;
			padding: 10px;
		}

			label input {
				display: block;
				border: 1px solid grey;
				padding: 5px;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				border-radius: 6px;
				outline: none;
			}

		.invalid {
			color: red;
			border: 1px red solid;
		}
	</style>
</head>
<body ng-controller="HomeCtrl">
	<form name="demoForm">
		<label>
			Integer:
			<input type="number" name="integer" ng-model="demo.integer" wiz-val-integer ng-class="{invalid: demoForm.integer.$error.wizValInteger}" />
		</label>
		<label>
			Decimal:
			<input type="number" step=".5" name="decimal" ng-model="demo.decimal" wiz-val-decimal ng-class="{invalid: demoForm.decimal.$error.wizValDecimal}" />
		</label>
		<label>
			Postcode:
			<input type="text" name="postcode" ng-model="demo.postcode" wiz-val-postcode ng-class="{invalid: demoForm.postcode.$error.wizValPostcode}" />
		</label>
		<label>
			Zipcode:
			<input type="text" name="zipcode" ng-model="demo.zipcode" wiz-val-zipcode ng-class="{invalid: demoForm.zipcode.$error.wizValZipcode}" />
		</label>
		<label>
			Phone:
			<input type="text" name="phone" ng-model="demo.phone" wiz-val-phone ng-class="{invalid: demoForm.phone.$error.wizValPhone}" />
		</label>
		<label>
			At least one in group 1
			<input type="text" name="atleastone1" ng-model="demo.atleastone1" wiz-val-at-least-one ng-class="{invalid: demoForm.atleastone1.$error.wizValAtLeastOne}" />
		</label>
		<label>
			<input type="text" name="atleastone2" ng-model="demo.atleastone2" wiz-val-at-least-one ng-class="{invalid: demoForm.atleastone2.$error.wizValAtLeastOne}" />
		</label>
		<label>
			<input type="text" name="atleastone3" ng-model="demo.atleastone3" wiz-val-at-least-one ng-class="{invalid: demoForm.atleastone3.$error.wizValAtLeastOne}" />
		</label>
		<label>
			At least one in group 2
			<input type="text" name="atleastoneA" ng-model="demo.atleastoneA" wiz-val-at-least-one="group2" ng-class="{invalid: demoForm.atleastoneA.$error.wizValAtLeastOne}" />
		</label>
		<label>
			<input type="text" name="atleastoneB" ng-model="demo.atleastoneB" wiz-val-at-least-one="group2" ng-class="{invalid: demoForm.atleastoneB.$error.wizValAtLeastOne}" />
		</label>
		<label>
			<input type="text" name="atleastoneC" ng-model="demo.atleastoneC" wiz-val-at-least-one="group2" ng-class="{invalid: demoForm.atleastoneC.$error.wizValAtLeastOne}" />
		</label>
		<label>
			Must equal group 1
			<input type="text" name="equalTo1" ng-model="demo.equalTo1" wiz-val-equal-to ng-class="{invalid: demoForm.equalTo1.$error.wizValEqualTo}" />
		</label>
		<label>
			<input type="text" name="equalTo2" ng-model="demo.equalTo2" wiz-val-equal-to ng-class="{invalid: demoForm.equalTo2.$error.wizValEqualTo}" />
		</label>
		<label>
			<input type="text" name="equalTo3" ng-model="demo.equalTo3" wiz-val-equal-to ng-class="{invalid: demoForm.equalTo3.$error.wizValEqualTo}" />
		</label>
		<label>
			Must equal group 2
			<input type="text" name="equalToA" ng-model="demo.equalToA" wiz-val-equal-to="group2" ng-class="{invalid: demoForm.equalToA.$error.wizValEqualTo}" />
		</label>
		<label>
			<input type="text" name="equalToB" ng-model="demo.equalToB" wiz-val-equal-to="group2" ng-class="{invalid: demoForm.equalToB.$error.wizValEqualTo}" />
		</label>
		<label>
			<input type="text" name="equalToC" ng-model="demo.equalToC" wiz-val-equal-to="group2" ng-class="{invalid: demoForm.equalToC.$error.wizValEqualTo}" />
		</label>
		<label>
			Starts with "begin":
			<input type="text" name="startsWith" ng-model="demo.startsWith" wiz-val-starts-with="begin" ng-class="{invalid: demoForm.startsWith.$error.wizValStartsWith}" />
		</label>
	</form>
	<script src="app/libs/angular-1.2.15/angular.js"></script>
	<script src="app/libs/wizValidation/wizValidation.js"></script>
	<script src="app/features/home/home.mod.js"></script>
	<script src="app/features/home/home.ctrl.js"></script>
	<script src="app/app.js"></script>
</body>
</html>