<!DOCTYPE html>
<html ng-app="demo">
<head>
	<title>Validation example</title>
	<style>
		label {
			display: block;
			padding: 5px;
		}

			label input {
				display: block;
				border: 1px solid grey;
				outline: none;
			}

		.invalid {
			color: red;
			border: 1px red solid;
		}
	</style>
</head>
<body ng-controller="HomeCtrl">
	<form name="demoForm">
		<label>
			Integer:
			<input type="number" name="integer" ng-model="demo.integer" wiz-val-integer ng-class="{invalid: demoForm.integer.$error.wizValInteger}" />
		</label>
		<label>
			Decimal:
			<input type="number" step=".5" name="decimal" ng-model="demo.decimal" wiz-val-decimal ng-class="{invalid: demoForm.decimal.$error.wizValDecimal}" />
		</label>
		<label>
			Postcode:
			<input type="text" name="postcode" ng-model="demo.postcode" wiz-val-postcode ng-class="{invalid: demoForm.postcode.$error.wizValPostcode}" />
		</label>
		<label>
			Zipcode:
			<input type="text" name="zipcode" ng-model="demo.zipcode" wiz-val-zipcode ng-class="{invalid: demoForm.zipcode.$error.wizValZipcode}" />
		</label>
		<label>
			Phone:
			<input type="text" name="phone" ng-model="demo.phone" wiz-val-phone ng-class="{invalid: demoForm.phone.$error.wizValPhone}" />
		</label>
	</form>
	<script src="app/libs/angular-1.2.15/angular.js"></script>
	<script src="app/libs/wizValidation/wizValidation.js"></script>
	<script src="app/features/home/home.mod.js"></script>
	<script src="app/features/home/home.ctrl.js"></script>
	<script src="app/app.js"></script>
</body>
</html>